@import "tailwindcss";



@font-face {
  font-family: "GothamWoman";
  src: url("/fonts/GothamWoman-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-gotham: "GothamWoman", sans-serif;
}

@layer utilities {
  .font-gotham {
    font-family: var(--font-gotham);
  }
}